body {
  background-color: #222;
  color: #fff;
  font-weight: 400;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  box-sizing: border-box;
  letter-spacing: 6px;
  margin: 0;
  line-height: 1.2;
}

.animate-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.animate-me {
  margin: 5px 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
}

span {
  display: inline-block;
}

.subtitle {
  font-size: 1vw;
  font-weight: 200;
  letter-spacing: 3px;
}

h1,
.title {
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  line-height: 1.8;
  margin-bottom: 20px;
  font-size: 20px;
}

section {
  margin-bottom: 40px;
}

.header {
  text-align: center;
  color: white;
  margin-bottom: 40px;
  background-color: #303030;
  padding: 20px; 
}

.subheading {
  font-weight: bolder;
  font-size: 60px;
  margin: 20px;
  
}

h1 {
  font-size: 40px;
  font-weight: bolder;
}

h2, h3 {
  font-size: 40px;
  font-weight: bolder;
}

p, li {
  font-size: 20px;
}

#rationale {
  text-align: left;
  padding: 20px;
}